<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ movie.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}">
</head>

<body>
    <h3>{{ movie.title }}</h3>
    <div class="container">
        <div class="col">
            <div class="card">
                <img src="{{ movie.img }}"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-star">⭐</p>
                </div>
            </div>
        </div>
        <div class="movie-container">
            <h1 class="movie-title">영화제목: {{ movie.title }}</h1>
<!--            <div class="movie-description">-->
<!--                <p>줄거리: </p>-->
<!--            </div>-->
            <div class="movie-info">
                <div class="movie-info-item">
                    <strong>카테고리:</strong> {{ movie.category }}
                </div>
                <div class="movie-info-item">
                    <strong>개봉일자:</strong> {{ movie.published_at }}
                </div>
                <div class="movie-info-item">
                    <strong>러닝타임:</strong> {{ movie.running_time }}
                </div>
                <div class="movie-info-item">
                    <strong>Ranking:</strong> {{ movie.rating }}
                </div>
            </div>
            <div class="movie-comments">
                <h2>Comments</h2>
                <div class="comments-list">
                </div>
                <form class="comment-form">
                    <textarea rows="4" cols="50" placeholder="{{ movie.comment }}" disabled></textarea>
                    <br>
<!--                    <button type="submit">작성</button>-->
                </form>
            </div>
        </div>
    </div>
</body>

</html>