<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>플릭픽스</title>
    <!-- css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../static/index.css" />

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <script src="../static/form.js"></script>
</head>

<body>
    <div class="flickpicks">
        <img src="../static/1.png">
    </div>
    <div class="rank-movies">
        <div class="card" style="width: 18rem;" id="rank2">
            <a class="card-img-top">
                <h2 class="card-rank">2위</h2>
                <img src="{{ second.img }}"
                    class="card-img-top" alt="...">
                <li class="hover_text">
                    <p>제목: {{ second.title }}</p>
                    <p>개봉일자: {{ second.published_at }}</p>
                    <p>감상평: {{ second.comment }}</p>
                <li class="hover_info">
                    <button class="info_btn" type="info_button"
                            onclick="window.location.href='/movies/{{second.id}}'">상세보기</button>
                </li>
                </li>
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ second.title }}</h5>
                <p class="card-star" id="rating">⭐{{ second.rating }}점</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="rank1">
            <a class="card-img-top">
                <h2 class="card-rank">1위</h2>
                <img src="{{ first.img }}"
                    class="card-img-top" alt="...">
                <li class="hover_text">
                    <p>제목: {{ first.title }}</p>
                    <p>개봉일자: {{ first.published_at }}</p>
                    <p>감상평: {{ first.comment }}</p>
                <li class="hover_info">
                    <button class="info_btn" type="info_button"
                            onclick="window.location.href='/movies/{{first.id}}'">상세보기</button>
                </li>
                </li>
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ first.title }}</h5>
                <p class="card-star" id="rating">⭐{{ first.rating }}점</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="rank3">
            <a class="card-img-top">
                <h2 class="card-rank">3위</h2>
                <img src="{{ third.img }}"
                    class="card-img-top" alt="...">
                <li class="hover_text">
                    <p>제목: {{ third.title }}</p>
                    <p>개봉일자: {{ third.published_at }}</p>
                    <p>감상평: {{ third.comment }}</p>
                </li>
                <li class="hover_info">
                    <button class="info_btn" type="info_button"
                            onclick="window.location.href='/movies/{{third.id}}'">상세보기</button>
                </li>
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ third.title }}</h5>
                <p class="card-star" id="rating">⭐{{ third.rating }}점</p>
            </div>
        </div>
    </div>
    <div class="user-write-btn">
        <button class="user-write-open-btn" onclick="open_box()">감상평 남기기</button>
        <button class="user-write-close-btn" onclick="close_box()">닫기</button>
    </div>

    <!--  starting form -->
    <div class="user-write-area" id="user-write">
        <div class="form-floating mb-3" id="user-write-url">
            <input type="url" class="form-control" id="url" placeholder="http://example.com">
            <label for="url">영화 URL</label>
        </div>
        <div class="user-write-category">
            <select class="form-select" aria-label="Default select example">
                <option selected>카테고리를 선택하세요</option>
                <option value="1">한국</option>
                <option value="2">미국</option>
                <option value="3">중국</option>
                <option value="4">일본</option>
            </select>
        </div>

        <div class="form-floating" id="user-write-comment">
            <textarea class="form-control" placeholder="Leave a comment here" id="comment" style="height: 100px"></textarea>
            <label for="comment">감상평</label>
        </div>
        <div class="user-write-area-btn">
            <button type="button" class="btn btn-warning" onclick="posting()">작성하기</button>
        </div>
        <div class="user-write-star">
            <select id="star" class="form-select" aria-label="Default select example">
                <option selected>별점을 선택하세요</option>
                <option value="1">(1)⭐</option>
                <option value="2">(2)⭐⭐</option>
                <option value="3">(3)⭐⭐⭐</option>
                <option value="4">(4)⭐⭐⭐⭐</option>
                <option value="5">(5)⭐⭐⭐⭐⭐</option>
                <option value="6">(6)⭐⭐⭐⭐⭐⭐</option>
                <option value="7">(7)⭐⭐⭐⭐⭐⭐⭐</option>
                <option value="8">(8)⭐⭐⭐⭐⭐⭐⭐⭐</option>
                <option value="9">(9)⭐⭐⭐⭐⭐⭐⭐⭐⭐</option>
                <option value="10">(10)⭐⭐⭐⭐⭐⭐⭐⭐⭐⭐</option>
            </select>
        </div>
    </div>
    <div class="list-movies">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for movie in movies %}
            <div class="col">
                <div class="card">
                    <a class="card-img-top">
                        <img src="{{ movie.img }}"
                            class="card-img-top" alt="...">
                        <li class="hover_text">
                            <p>제목: {{ movie.title }}</p>
                            <p>개봉일자 :{{ movie.published_at }}</p>
                            <p>감상평: {{ movie.comment }}</p>
                        <li class="hover_info">
                            <button class="info_btn" type="info_button"
                                onclick="window.location.href='/movies/{{movie.id}}'">상세보기</button>
                        </li>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-star">⭐{{ movie.rating }}점</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>